<div ng-controller="ExtraControllerInsideAnotherController">
	<p>The name is {{name}}</p>
	<p>And we're at {{section}}</p>
	<p>$root.msg = {{$root.msg}}</p>
	<p>msg ===== {{msg}}</p>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Mail</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alexander Redd</td>
			<td>unfeelable@heelprint.net</td>
		</tr>
		<tr>
			<td>Markus KalamarasAlexander Redd</td>
			<td>zygodont@chronic.eduunfeelable@heelprint.net</td>
		</tr>
	</tbody>
</table>

<p>Go to <a href="/#/home">Home</a></p>